<?xml version="1.0"?>
<robot name="spot_extras">

  <material name="grey">
    <color rgba="0.7 0.7 0.7 1" />
  </material>

  <!-- LiDAR frame -->
  <link name="lidar_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.1"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <!-- Fixed mount onto Spot body -->
  <joint name="body_to_lidar" type="fixed">
    <parent link="body"/>
    <child link="lidar_link"/>
    <origin xyz="0 0 0.10" rpy="0 0 0"/>
  </joint>

</robot>
