bt_navigator:
  ros__parameters:
    use_sim_time: false
    global_frame: map
    robot_base_frame: body
    odom_topic: /odom
    default_bt_xml_filename: "navigate_w_replanning_and_recovery.xml"

controller_server:
  ros__parameters:
    current_goal_checker: "goal_checker" #goal_checker was original
    current_progress_checker: "progress_checker"
    use_sim_time: false
    controller_frequency: 10.0 
    controller_plugins: ["FollowPath"]
    goal_checker_plugins: ["goal_checker"]
    progress_checker_plugin: "progress_checker"

    progress_checker:
      plugin: "nav2_controller::SimpleProgressChecker"
      required_movement_radius: 0.10
      movement_time_allowance: 8.0

    goal_checker:
      plugin: "nav2_controller::SimpleGoalChecker"
      xy_goal_tolerance: 0.25
      yaw_goal_tolerance: 0.35
      stateful: true

    FollowPath:
      plugin: "nav2_mppi_controller::MPPIController"
      motion_model: "DiffDrive" #confirm diff drive is the best motion model for spot.
      iteration_count: 1
      batch_size: 1500
      time_steps: 56
      model_dt: 0.05
      transform_tolerance: 0.5
      prune_distance: 1.7
      temperature: 0.3
      gamma: 0.015
      
      # keep SPOT non-holonomic and match previous speed limits
      vx_max: 0.18
      vx_min: 0.0
      vy_max: 0.0
      wz_max: 0.5
      ax_max: 0.8
      ax_min: -0.8
      az_max: 1.0

      vx_std: 0.2
      vy_std: 0.0
      wz_std: 0.4

      critics: ["ConstraintCritic", "CostCritic", "GoalCritic", "GoalAngleCritic", "PathAlignCritic", "PathFollowCritic", "PathAngleCritic", "PreferForwardCritic"]

      ConstraintCritic.cost_weight: 4.0
      ConstraintCritic.cost_power: 1

      CostCritic.cost_weight: 3.8
      CostCritic.cost_power: 1
      CostCritic.critical_cost: 300.0
      CostCritic.consider_footprint: true

      GoalCritic.cost_weight: 5.0
      GoalCritic.cost_power: 1
      GoalCritic.threshold_to_consider: 1.4

      GoalAngleCritic.cost_weight: 3.0
      GoalAngleCritic.cost_power: 1
      GoalAngleCritic.threshold_to_consider: 0.5

      PathAlignCritic.cost_weight: 10.0
      PathAlignCritic.cost_power: 1
      PathAlignCritic.threshold_to_consider: 0.5
      PathAlignCritic.max_path_occupancy_ratio: 0.05

      PathFollowCritic.cost_weight: 5.0
      PathFollowCritic.cost_power: 1
      PathFollowCritic.threshold_to_consider: 1.4

      PathAngleCritic.cost_weight: 2.2
      PathAngleCritic.cost_power: 1
      PathAngleCritic.threshold_to_consider: 0.5

      PreferForwardCritic.cost_weight: 2.0
      PreferForwardCritic.cost_power: 1

planner_server:
  ros__parameters:
    use_sim_time: false
    expected_planner_frequency: 3.0
    planner_plugins: ["GridBased"]
    GridBased:
      plugin: "nav2_smac_planner/SmacPlanner2D" #can add nav2_smac_planner/SmacPlanner2D nav2_navfn_planner/NavfnPlanner
      tolerance: 0.5
      use_astar: false
      allow_unknown: true

behavior_server:
  ros__parameters:
    use_sim_time: false 
    global_frame: map
    local_frame: odom
    robot_base_frame: body

waypoint_follower:
  ros__parameters:
    use_sim_time: false

velocity_smoother:
  ros__parameters:
    use_sim_time: false

global_costmap:
  global_costmap:
    ros__parameters:
      transform_tolerance: 0.5
      use_sim_time: false
      global_frame: map
      robot_base_frame: body
      update_frequency: 2.0
      publish_frequency: 1.0
      resolution: 0.05
      track_unknown_space: true
      robot_radius: 0.30
      transform_tolerance: 0.5
      plugins: ["static_layer", "obstacle_layer", "inflation_layer"]

      static_layer:
        plugin: "nav2_costmap_2d::StaticLayer"
        subscribe_transient_local: true

      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        observation_sources: scan
        scan:
          topic: /scan
          data_type: "LaserScan"
          marking: true
          clearing: true
          obstacle_max_range: 10.0
          obstacle_min_range: 0.05
          raytrace_max_range: 12.0
          raytrace_min_range: 0.05
          max_obstacle_height: 1.0

      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 0.35
        cost_scaling_factor: 8.0

local_costmap:
  local_costmap:
    ros__parameters:
      transform_tolerance: 0.5
      use_sim_time: false
      global_frame: odom
      robot_base_frame: body
      rolling_window: true
      width: 6
      height: 6
      resolution: 0.05
      update_frequency: 8.0
      publish_frequency: 4.0
      robot_radius: 0.30
      transform_tolerance: 0.5
      plugins: ["obstacle_layer", "inflation_layer"]

      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        observation_sources: scan
        scan:
          topic: /scan
          data_type: "LaserScan"
          marking: true
          clearing: true
          obstacle_max_range: 10.0
          obstacle_min_range: 0.05
          raytrace_max_range: 12.0
          raytrace_min_range: 0.05
          max_obstacle_height: 1.0

      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 0.35
        cost_scaling_factor: 8.0
